@media (max-width: 1550px) {
	.section__one-images .two-img > img {
		width: 300px;
		height: 300px;
	}
	.section__one-images .one-img img {
		width: 180px;
		height: 290px;
		left: 10em;
		top: 25em;
	}
	.section__one__wrapper-two {
		width: 550px;
	}
	.section__four-info-block {
		left: 13em;
	}
}
@media (max-width: 1280px) {
	.header__logo {
		font-size: 35px;
	}
	#header__link-nav {
		gap: 25px;
	}
	.fa-magnifying-glass {
		font-size: 17px;
		margin-left: 2.5px;
	}
	.header__btn-login button {
		width: 155px;
		font-size: 14.5px;
	}
	.main__title {
		font-size: 60px;
		margin: 30px 0 0 0;
	}
	.main__btn button {
		width: 240px;
		height: 65px;
	}
	.main__circle {
		margin: 0 0 25px 0;
	}
	.wavy-line img {
		top: -20px;
	}
	.section__one-images .two-img > img {
		width: 280px;
		height: 300px;
	}
	.section__one-images .one-img img {
		width: 200px;
		height: 250px;
		left: 10em;
		top: 23.5em;
	}
	.section__one__wrapper-two {
		width: 510px;
	}
	.section__one-title {
		font-size: 37px;
	}
	.section__one-btn button {
		width: 210px;
		height: 65px;
	}
	.section__two-wrapper {
		gap: 20px;
	}
	.section__two-title {
		font-size: 55px;
	}
	.section__two-btn button {
		width: 210px;
		height: 65px;
	}
	.two__circle {
		top: 17em;
	}
	.section__three__info {
		width: 450px;
	}
	.section__three-title {
		font-size: 35px;
	}
	.section__three-sub-title {
		font-size: 15px;
	}
	.section__three-btn button {
		width: 220px;
		height: 65px;
		font-size: 15px;
	}
	.section__three-images .one-image img {
		width: 300px;
		height: 200px;
		right: 6em;
	}
	.section__three-images .two-image img {
		width: 300px;
		height: 200px;
	}
	.section__four-info-block {
		width: 420px;
		left: 5em;
	}
	.section__four-title {
		font-size: 34px;
	}
	.section__four-sub-title {
		font-size: 16.5px;
	}
	.section__four-reviews-block {
		gap: 35px;
	}
	.first-block {
		width: 300px;
		height: 400px;
	}
	.first-block .title {
		font-size: 30px;
	}
	.first-block .reviews .buckets {
		font-size: 47px;
		left: 1px;
		top: 2em;
	}
	.first-block .reviews {
		font-size: 16px;
	}
	.first-block .info-user .one-block .user-avatar img {
		width: 50px;
		height: 47px;
	}
	.first-block .info-user .two-block .user-name {
		font-size: 15px;
	}
	.first-block .info-user .two-block .status {
		font-size: 13px;
	}
	.second-block {
		width: 400px;
		height: 300px;
	}
	.second-block .title {
		font-size: 33px;
	}
	.second-block .reviews .buckets {
		left: 0;
		top: 2em;
		font-size: 47px;
	}
	.second-block .reviews {
		font-size: 16px;
	}
	.second-block .info-user .one-block .user-avatar img {
		width: 50px;
		height: 47px;
	}
	.second-block .info-user .two-block .user-name {
		font-size: 15px;
	}
	.first-block .info-user .two-block .status {
		font-size: 13px;
	}
	.third-block {
		width: 300px;
		height: 240px;
	}
	.third-block .title {
		font-size: 32px;
	}
	.third-block .reviews .buckets {
		left: 0;
		top: 1.82em;
		font-size: 43px;
	}
	.third-block .reviews {
		font-size: 16px;
	}
	.third-block .info-user .one-block .user-avatar img {
		width: 50px;
		height: 47px;
	}
	.third-block .info-user .two-block .user-name {
		font-size: 15px;
	}
	.third-block .info-user .two-block .status {
		font-size: 13px;
	}
	.section__five .title {
		font-size: 30px;
	}
	.section__five .sub-title {
		width: 70%;
	}
	.section__five .mobile-one {
		right: 13em;
	}
	.section__five .mobile-two {
		left: 3em;
	}
	.section__seven .block-main .title {
		font-size: 20px;
	}
	.section__seven .block-main .info-text {
		font-size: 13px;
	}
	.section__seven .block-main .social-icons {
		font-size: 16px;
	}
	.section__seven .block-second .title {
		font-size: 18px;
	}
	.section__seven .section__seven-wrapper-two {
		top: -50px;
	}
}
@media (max-width: 1040px) {
	.header__logo {
		font-size: 25px;
	}
	#header__link-nav a {
		font-size: 14px;
	}
	.fa-magnifying-glass {
		font-size: 15px;
	}
	.header__btn-login button {
		width: 120px;
		height: 40px;
		font-size: 15px;
	}
	.main__title {
		font-size: 50px;
	}
	.main__btn button {
		width: 200px;
		height: 50px;
		font-size: 15px;
		letter-spacing: 1px;
	}
	.section__one-images .two-img > img {
		width: 200px;
		height: 270px;
	}
	.section__one-images .one-img img {
		width: 160px;
		height: 220px;
		left: 6em;
		top: 20.5em;
	}
	.section__one__wrapper-two {
		width: 450px;
	}
	.section__one-title {
		font-size: 30px;
	}
	.section__one-sub-title {
		font-size: 14px;
	}
	.section__one-btn button {
		width: 150px;
		letter-spacing: 1px;
	}
	.section__two-title {
		font-size: 45px;
		width: 550px;
	}
	.section__two-sub-title {
		font-size: 15px;
		width: 400px;
	}
	.section__two-btn button {
		width: 180px;
		height: 60px;
		letter-spacing: 1px;
	}
	.section__three__info {
		width: 360px;
	}
	.section__three-title {
		font-size: 30px;
	}
	.section__three-sub-title {
		line-height: 35px;
		font-size: 14.5px;
	}
	.section__three-btn button {
		width: 180px;
		height: 55px;
		font-size: 15px;
		margin: 15px 0 0 0;
	}
	.section__four-info-block {
		width: 220px;
	}
	.section__four-title {
		font-size: 25px;
		line-height: 40px;
	}
	.section__four-sub-title {
		font-size: 15px;
	}
	.section__three-images .one-image img {
		width: 260px;
		object-fit: cover;
	}
	.section__three-images .two-image img {
		width: 260px;
		object-fit: cover;
	}
	.first-block {
		width: 270px;
		height: 340px;
		padding: 10px;
	}
	.first-block .title {
		font-size: 25px;
	}
	.first-block .reviews .buckets {
		left: 5px;
		top: 50px;
	}
	.first-block .reviews {
		font-size: 14px;
		width: 195px;
	}
	.first-block .info-user .one-block .user-avatar img {
		width: 45px;
		height: 45px;
	}
	.first-block .info-user .two-block .user-name {
		font-size: 15px;
	}
	.first-block .info-user .two-block .status {
		font-size: 12px;
	}
	.second-block {
		width: 330px;
		height: 260px;
	}
	.second-block .title {
		font-size: 25px;
	}
	.second-block .reviews .buckets {
		top: 58px;
	}
	.second-block .reviews {
		font-size: 14px;
		width: 250px;
	}
	.second-block .info-user {
		display: flex;
		margin: 0 0 0 50px;
	}
	.second-block .info-user .one-block .user-avatar img {
		width: 45px;
		height: 45px;
	}
	.second-block .info-user .two-block .user-name {
		font-size: 15px;
	}
	.second-block .info-user .two-block .status {
		font-size: 12px;
	}
	.third-block {
		width: 280px;
	}
	.third-block .title {
		font-size: 25px;
	}
	.third-block .reviews .buckets {
		left: 0.2em;
	}
	.third-block .reviews {
		font-size: 14px;
		width: 200px;
	}
	.third-block .info-user .one-block .user-avatar img {
		width: 45px;
		height: 45px;
	}
	.third-block .info-user .two-block .user-name {
		font-size: 15px;
	}
	.third-block .info-user .two-block .status {
		font-size: 12px;
	}
	.section__five .title {
		font-size: 25px;
	}
	.section__five .sub-title {
		width: 350px;
	}
	.section__five .load-hint {
		font-size: 13px;
	}
	.section__five .mobile-one {
		left: -8em;
	}
	.section__five .mobile-one img {
		width: 240px;
	}
	.section__five .mobile-two {
		left: 5em;
		top: 10.2em;
	}
	.section__five .mobile-two img {
		width: 240px;
	}
	.section__six .title {
		font-size: 25px;
	}
	.section__six .social-icons {
		gap: 30px;
	}
	.section__six .social-icons .fa-brands {
		font-size: 20px;
	}
	.section__six .one-block,
	.section__six .two-block,
	.section__six .three-block {
		width: 80px;
		height: 80px;
	}
	.section__seven .block-main {
		width: 180px;
	}
	.section__seven .block-main .title {
		font-size: 16px;
	}
	.section__seven .block-main .info-text {
		font-size: 13px;
	}
	.section__seven .block-main .social-icons {
		gap: 15px;
	}
	.section__seven .block-main .social-icons .fa-brands {
		font-size: 16px;
	}
	.section__seven .block-second {
		width: 100px;
	}
	.section__seven .block-second .title {
		font-size: 16px;
	}
	.section__seven .block-second .links #nav a {
		font-size: 12.5px;
	}
	.section__seven .block-third {
		width: 130px;
	}
	.section__seven .block-third .title {
		font-size: 16px;
	}
	.section__seven .block-third .links #nav a {
		font-size: 12.5px;
	}
	.section__seven .fourth-block {
		width: 180px;
	}
	.section__seven .fourth-block .title {
		font-size: 16px;
	}
	.section__seven .fourth-block .contact-details .fa-solid {
		font-size: 16px;
	}
	.section__seven .fourth-block .contact-details span {
		font-size: 12.5px;
	}
	.section__seven .section__seven-wrapper-two {
		font-size: 12.5px;
		top: -50px;
	}
}
@media (max-width: 850px) {
	.header__logo {
		font-size: 35px;
		margin-left: 10px;
	}
	#header__link-nav {
		display: none;
	}
	.adaptive-block-menu {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	.adaptive-block-menu .item {
		display: flex;
	}
	.header__btn-login button {
		width: 160px;
		height: 55px;
		font-size: 20px;
		margin-right: 10px;
	}
	.main__title {
		font-size: 65px;
	}
	.main__btn button {
		width: 200px;
		height: 60px;
		font-size: 20px;
		letter-spacing: 0px;
	}
	.main__circle {
		font-size: 20px;
	}
	.wavy-line img {
		top: -10px;
	}
	.section__one-wrapper {
		flex-direction: column;
	}
	.section__one-images {
		top: -18em;
		position: absolute;
	}
	.section__one-images .two-img > img {
		width: 280px;
		height: 330px;
	}
	.section__one-images .one-img img {
		width: 240px;
		height: 300px;
		left: 8em;
		top: 26em;
	}
	.section__one__wrapper-two {
		position: absolute;
		bottom: 5em;
		text-align: center;
	}
	.section__one-title {
		font-size: 35px;
	}
	.section__one-sub-title {
		font-size: 16px;
	}
	.section__one-btn button {
		width: 240px;
		font-size: 20px;
		letter-spacing: 0;
	}
	.section__two-title {
		font-size: 50px;
	}
	.section__two-sub-title {
		font-size: 19px;
		width: 480px;
	}
	.section__two-btn button {
		width: 240px;
		height: 60px;
		font-size: 20px;
		letter-spacing: 0;
	}
	.section__three {
		flex-direction: column-reverse;
	}
	.section__three__wrapper-two {
		position: relative;
		top: -5em;
	}
	.section__three__info {
		text-align: center;
		width: 100%;
		position: relative;
		top: -2em;
	}
	.section__three-title {
		font-size: 30px;
	}
	.section__three-sub-title {
		font-size: 19px;
		width: 450px;
	}
	.section__three-btn button {
		font-size: 20px;
		width: 320px;
		height: 60px;
	}
	.section__four-info-block {
		left: 2em;
		top: 5em;
	}
	.first-block {
		width: 280px;
	}
	.first-block .title {
		font-size: 30px;
		width: 100%;
		margin: 0;
	}
	.first-block .reviews .buckets {
		font-size: 40px;
		left: 0.05em;
		top: 1.55em;
	}
	.first-block .reviews {
		font-size: 14px;
		width: 90%;
	}
	.first-block .info-user .one-block .user-avatar img {
		width: 55px;
		height: 55px;
	}
	.first-block .info-user .two-block .user-name {
		font-size: 18px;
	}
	.first-block .info-user .two-block .status {
		font-size: 14px;
	}
	.second-block .title {
		font-size: 30px;
		width: 95%;
		margin: 0;
	}
	.second-block .reviews .buckets {
		font-size: 40px;
		left: 0.3em;
		top: 1.35em;
	}
	.second-block .reviews {
		font-size: 14px;
		width: 80%;
	}
	.second-block .info-user .one-block .user-avatar img {
		width: 55px;
		height: 55px;
	}
	.second-block .info-user .two-block .user-name {
		font-size: 18px;
	}
	.second-block .info-user .two-block .status {
		font-size: 14px;
	}
	.third-block {
		width: 280px;
	}
	.third-block .title {
		font-size: 30px;
		width: 95%;
		margin: 0;
	}
	.third-block .reviews .buckets {
		font-size: 40px;
		left: 0.3em;
		top: 1.9em;
	}
	.third-block .reviews {
		font-size: 14px;
		width: 75%;
	}
	.third-block .info-user .one-block .user-avatar img {
		width: 55px;
		height: 55px;
	}
	.third-block .info-user .two-block .user-name {
		font-size: 18px;
	}
	.third-block .info-user .two-block .status {
		font-size: 14px;
	}
	.section__five {
		height: 600px;
	}
	.section__five-wrapper {
		justify-content: space-around;
		align-items: center;
		height: 600px;
	}
	.section__five .title {
		font-size: 24px;
	}
	.section__five .sub-title {
		font-size: 15px;
	}
	.section__five .load-hint {
		font-size: 16px;
	}
	.section__five .mobile-one {
		position: relative;
		top: -10em;
		left: -2.5em;
	}
	.section__five .mobile-two {
		left: 10em;
		top: 12.35em;
	}
	.section__six .title {
		font-size: 35px;
	}
	.section__six .social-icons {
		gap: 100px;
	}
	.section__six .social-icons .fa-brands {
		font-size: 30px;
	}

	.section__seven {
		height: max-content;
		display: flex;
		flex-direction: column;
	}
	.section__seven .section__seven-wrapper {
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	.section__seven .block-main {
		width: 300px;
		margin: 3em 1em 3em 1em;
	}
	.section__seven .block-main .title {
		font-size: 25px;
	}
	.section__seven .block-main .info-text {
		font-size: 17px;

		width: 100%;
	}
	.section__seven .block-main .social-icons .fa-brands {
		font-size: 20px;
	}
	.section__seven .block-second {
		width: 300px;
		margin: 3em 1em 3em 1em;
	}
	.section__seven .block-second .title {
		font-size: 25px;
	}
	.section__seven .block-second .links #nav a {
		font-size: 18px;
	}
	.section__seven .block-third {
		width: 300px;
		margin: 3em 1em 3em 1em;
	}
	.section__seven .block-third .title {
		font-size: 25px;
	}
	.section__seven .block-third .links #nav a {
		font-size: 18px;
	}
	.section__seven .fourth-block {
		width: 300px;
		margin: 3em 1em 3em 1em;
	}
	.section__seven .fourth-block .title {
		font-size: 25px;
	}
	.section__seven .fourth-block .contact-details .fa-solid {
		font-size: 20px;
	}
	.section__seven .fourth-block .contact-details span {
		font-size: 16px;
	}
	.section__seven .section__seven-wrapper-two {
		justify-content: center;
		align-items: center;
		gap: 150px;
		top: -2em;
		color: #ffffff;
	}
}
@media (max-width: 680px) {
	.header__logo {
		font-size: 35px;
	}
	.header__btn-login button {
		width: 150px;
		height: 50px;
		font-size: 20px;
	}
	.main__title {
		font-size: 58px;
		text-align: center;
	}
	.main__btn button {
		width: 220px;
		height: 60px;
	}
	.main__circle {
		gap: 12px;
	}
	.main__circle .circle {
		width: 16px;
		height: 16px;
	}
	.main__circle > .active {
		width: 21px;
		height: 21px;
		bottom: 5px;
	}
	.section__two-title {
		font-size: 50px;
		max-width: 480px;
		text-align: center;
	}
	.section__two-sub-title {
		font-size: 20px;
		max-width: 450px;
	}
	.section__two-btn button {
		width: 200px;
		height: 60px;
	}
	.two__circle {
		gap: 12px;
	}
	.two__circle .circle {
		width: 16px;
		height: 16px;
	}
	.two__circle > .active {
		width: 21px;
		height: 21px;
		bottom: 5px;
	}
	.section__four-info-block {
		top: -1em;
		align-items: center;
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		max-width: 350px;
		text-align: center;
	}
	.section__four-title {
		font-size: 35px;
	}
	.section__four-sub-title {
		font-size: 20px;
	}
	.section__four-reviews-block {
		flex-direction: column;
	}
	.second-block {
		display: none;
	}
	.first-block {
		margin: 2.5em 0 2.5em 0;
		width: 350px;
	}
	.first-block .reviews {
		font-size: 16px;
	}
	.first-block .reviews .buckets {
		top: 1.94em;
	}
	.third-block {
		width: 350px;
	}
	.third-block .reviews .buckets {
		left: 0.5em;
	}
	.third-block .reviews {
		font-size: 16px;
	}
	.section__five .title {
		font-size: 35px;
	}
	.section__five .sub-title {
		font-size: 16px;
	}
	.section__five .load-hint {
		font-size: 18px;
	}
	.section__five .mobile-one {
		display: none;
	}
	.section__five .mobile-two {
		left: -2.5em;
	}
	.section__six .social-icons {
		gap: 40px;
	}
	.section__seven .section__seven-wrapper {
		align-items: center;
	}
	.section__seven .fourth-block {
		gap: 20px;
	}
}
@media (max-width: 480px) {
	.main__title {
		font-size: 40px;
		max-width: 300px;
		width: 100%;
	}
	.section__one-images .two-img > img {
		width: 210px;
		height: 250px;
		position: relative;
		top: 2em;
	}
	.section__one-images .one-img img {
		width: 210px;
		height: 250px;
		top: 23em;
		left: 4em;
	}
	.section__one-title {
		font-size: 32px;
	}
	.section__one-sub-title {
		max-width: 300px;
		width: 100%;
		font-size: 15px;
		position: relative;
		left: 5em;
	}
	.section__one-btn button {
		width: 200px;
	}
	.section__two-wrapper {
		gap: 40px;
	}
	.section__two-title {
		font-size: 40px;
		max-width: 350px;
		width: 100%;
	}
	.section__two-sub-title {
		max-width: 350px;
		width: 100%;
	}
	.two__circle {
		top: 15em;
	}
	.section__three-images {
		left: 2em;
		position: relative;
	} 
	.section__three-images .one-image img {
		width: 240px;
		height: 180px;
	}
	.section__three-images .two-image img {
		width: 240px;
		height: 180px;
	}
	.section__three-title {
		font-size: 35px;
	}
	.section__three-sub-title {
		font-size: 16px;
		max-width: 350px;
		width: 100%;
	}
	.section__four-info-block {
		left: 1em;
	}
}
